<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika mengakses langsung root folder, arahkan ke public/
    RewriteCond %{REQUEST_URI} !public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>


