<IfModule mod_rewrite.c>
    Options -MultiViews
    Options -Indexes

    RewriteEngine On
    RewriteBase /

    # Jika request bukan file/folder yang ada, route ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
